{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    <h1>Quack index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quack in quacks %}
            <tr>
                <td>{{ quack.id }}</td>
                <td>{{ quack.content }}</td>
                <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button class="btn btn-lg btn-warning"><a href="{{ path('app_quack_show', {'id': quack.id}) }}">show</a></button>
                    <button class="btn btn-lg btn-danger"><a href="{{ path('app_quack_edit', {'id': quack.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-lg btn-primary"><a href= "{{ path('app_quack_new') }}"> Create new </a></button>
{% endblock %}
